.header {
    height: 70rem;
    background-image: url("../images/desktop/image-hero.jpg");
    background-size: cover;
    padding: 0 3rem;

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 6rem;
    }

    &__logo {
        flex-grow: 4;
    }

    &__hamburger {
        display: none;

        @media only screen and (max-width: $bp-smallest) {
            display: block;
            align-self: center;
        }
    }

    &__nav {
        font-size: 1.8rem;
        list-style: none;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;

        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }

        &--link {
            border-bottom: 1px solid $color-white none;
        }
    
        &--link:link,
        &--link:visited {
            text-decoration: none;
            color: $color-white;
            font-family: $font-primary;
        }
    
        &--link:hover,
        &--link:active {
            padding-bottom: 3px;
            border-bottom: solid;
        }
    }

    &__text {
        margin-top: 13rem;
        color: $color-white;
        border: solid 2px $color-white;
        padding: 4rem;
        display: inline-block;
        max-width: 70rem;
    }
}
