.interactive {
    padding: 15rem 0 15rem 0;

    &__content {
        display: flex;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__text {
        background-color: $color-white;
        align-self: flex-end;
        padding: 7rem;
        padding-bottom: 0;
        display: block;
        max-width: 58rem;
        transform: translateX(-15rem);
        z-index: 10;

        &--paragraph {
            margin-top: 4rem;
            font-family: $font-primary;
            font-size: 1.5rem;
            color: $color-dark-gray;
        }
    }
}